.global-font {
    -fx-font-family: "Noto Sans CJK TC DemiLight";
}

.bg-dark-primary {
    -fx-background-color: #455A64;
}

.bg-light-primary {
    -fx-background-color: #CFD8DC;
}

.bg-primary {
    -fx-background-color: #607D8B;
}

.buttons-on-primary {
    -fx-background-color: #FFFFFF;
}

.text-icons {
    -fx-text-fill: #FFFFFF;
}

.bg-accent {
    -fx-background-color: #00BCD4;
}

.primary-text {
    -fx-text-fill: #212121;
}

.secondary-text {
    -fx-text-fill: #757575;
}

.very-light-bg {
    -fx-background-color: #efefef;
}

.bg-divider {
    -fx-background-color: #BDBDBD;
}

.Agenda {
    -fx-font-size: 18;
    -fx-font-weight: bold;
}

.task {
    -fx-background-color: #CFD8DC;
    -fx-font-size: 14;
}

.task-selected {
    -fx-background-color: #00BCD4;
    -fx-font-size: 14;
}

.empty-task {
    -fx-background-color: #FFFFFF;
    -fx-font-size: 14;
}

.done-task {
    -fx-background-color: rgba(0, 243, 37, 0.49);
    -fx-font-size: 14;
}

.client-data {
    -fx-font-size: 16;
}

.scrollpane {
    -fx-background-color: #B3E5FC;
}
